In [1]:
def test12(a):
    con = ""
    con = con + a
    return con
def test15(**kwargs):
    a = ""
    for i in kwargs.values():
        if type(i) == list:
            for j in i:
                if type(j) == str:
                    a = a + test12(j)
    return a
test15(a = 34,b = 56,c = 67,sudh = [3,4,5,6,"sudh","kumar"])

'sudhkumar'

In [2]:
def test12(*args):
    con = ""
    for i in args:
        con = con + i
    return con
def test15(**kwargs ):
    a = ""
    for i in kwargs.values() :
        if type(i) == list :
            for j in i :
                if type(j) == str:
                    a = a +test12(j)
    return a
test15(a = 34,b = 56,c = 67,sudh = [3,4,5,6,"sudh","kumar"])

'sudhkumar'

In [3]:
def test15(**kwargs):
    con = ""
    for i in kwargs.values():
        if type(i) == list:
            for j in i:
                if type(j) == str:
                    con = con + j
    return con
test15(a = 34,b = 56,c = 67,sudh = [3,4,5,6,"sudh","kumar"])

'sudhkumar'